#upload-button {
    text-decoration: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: var(--upload-button-zIndex);
    @include button( 50px, 50px, 50%, var( --main-color ), #fff );
    @include display-flex();
    &:hover { background-color: #555555; }
}