.about-us {

    @include width-and-height( 100%, 810px );
    @include display-flex( center, space-evenly, column );
    overflow: hidden;
    padding: 70px 10px;

    &__title {
        font-size: 35px;
        text-transform: uppercase;
    }
    
    &__subtitle {
        font-size: 18px;
        letter-spacing: 1px;
        color: var( --main-color );
        text-align: center;
    }
    
    &__paragraph {
        text-align: center;
        font-size: 16px;
        padding: 20px 10px;
        color: grey;
        line-height: 26px;
    }
    
    &__img {
        width: 98%;
        height: 350px;
        object-fit: cover;
        filter: grayscale(.8);
        object-position: 50% 40%;
    }
    
}

// MEDIA QUERIES.
@media( min-width: 500px ) {

    .about-us {

        &__title { 
            font-size: 40px; 
        }
    
        &__paragraph {
            font-size: 18px;
            padding: 10px 30px;
        }
        
    }
    
} 

@media( min-width: 800px ) {

    .about-us {

        &__title { 
            font-size: 60px;
        }
    
        &__paragraph { 
            font-size: 19px;
            padding: 20px 30px; 
        } 
        
    }

}

@media( min-width: 950px ) { 

    .about-us {
        &__paragraph { padding: 20px 90px; } 
    }

}