.contact-us {

    padding: 70px 10px;

    .contact-form-ctn { 

        overflow: hidden; 
    
        .contact-form__title { 
            font-size: 23px; 
        }
        
        .contact-form__p {
            margin: 15px 0;
            color: grey;
        }
    
        .contact-form {
    
            display: flex;
            flex-direction: column;
            
            .contact-form__input {
                height: 60px;
                padding-left: 20px;
            }
            
            .contact-form__textarea {
                resize: none;
                height: 150px;
                padding: 20px;
                font-family: Arial, Helvetica, sans-serif;
            }

            .contact-form__input,
            .contact-form__textarea {
                outline: none;
                border: 1px solid red;
                margin-bottom: 5px;
                color: grey;
                font-size: 15px;

                &.error {
                    border: 3px solid red;
                    & + .contact-form__error { display: block; }
                }

                &.success {
                    border: 3px solid green;
                    & + .contact-form__error { display: none; }
                }
                
            }
            
            .contact-form__error {
                font-size: 14px;
                color: red;
                margin: -5px 0 5px 0;
                display: none;
            }
            
            .contact-form__submit {
                @include bigButton( var(--main-color), 10px );
                font-size: 12px;
                margin: 15px 0 5px 0;
                align-self: flex-start;
            
                &:hover {
                    @include bigButtonHover( var(--main-color-hover), var(--main-color-hover) );
                }
            }
    
        }
        
    }

    .contact-us__location-ctn {

        margin-top: 30px; 
    
        .contact-us__map {
            height: 380px;
            overflow: hidden;
        
            iframe {
                @include width-and-height();
                border: none;
            }
        }
    
        .contact-us__info-ctn {
    
            display: flex;
            flex-direction: column;
        
            .contact-us-info {
        
                @include display-flex( center, flex-start, row );
                &:nth-child( 1 ) { margin: 30px 0; }
        
                .contact-us-icon {
                    font-size: 25px;
                    color: var(--main-color);
                    width: 20px;
                }
                
                .contact-us-content { 
                
                    margin-left: 20px;
                
                    .contact-us-text {
                        font-size: 17px;
                        font-weight: 900;
                    }
                    
                    .contact-us-text2 {
                        font-size: 13px;
                        color: grey;
                    }
                
                }
        
            }
        
        }
    
    }
    
}

// MEDIA QUERIES.
@media( min-width: 300px ) {

    .contact-us .contact-form-ctn {

        .contact-form__title { font-size: 30px; }

        .contact-form__p { font-size: 17px; }

        .contact-form .contact-form__submit { padding: 15px; }
        
    }

}

@media( min-width: 768px ) {

    .contact-us {

        display: flex; 

        .contact-form-ctn,
        .contact-us__location-ctn { 
            width: 100%; 
        }

        .contact-form-ctn { 
            padding-right: 70px; 
        }
        
        .contact-us__location-ctn { 

            margin-top: 0; 

            .contact-us__map { 
                height: 405px; 
            }

            .contact-us__info-ctn {

                flex-direction: row;
                justify-content: space-between;
        
                .contact-us-info {
                    &:nth-child( 1 ) { margin: 20px 0; }
                    &:nth-child( 2 ) { padding-right: 15px; }
                }
                
            }
            
        }
        
    }

}

@media( min-width: 870px ) {

    .contact-us {

        .contact-form-ctn .contact-form .contact-form__submit {
            font-size: 14px;
            padding: 20px 30px;
        }

        .contact-us__location-ctn .contact-us__info-ctn .contact-us-info {

            .contact-us-icon { 
                font-size: 30px; 
                width: 30px;
            }

            .contact-us-content {

                .contact-us-text { 
                    font-size: 23px;
                }
            
                .contact-us-text2 { 
                    font-size: 15px;
                }
                
            }
            
        }
        
    }

}