.team { 

    padding: 70px 10px; 
    text-align: center;

    .team-p {
        color: grey;
        margin: 20px 0;
    }

    .teams-ctn {

        .person { 

            margin-bottom: 30px;
        
            &:nth-child( 1 ) .person-img-ctn { background-image: url( '../assets/images/team/1.jpg' ); }
            &:nth-child( 2 ) .person-img-ctn { background-image: url( '../assets/images/team/2.jpg' ); }
            &:nth-child( 3 ) .person-img-ctn { background-image: url( '../assets/images/team/3.jpg' ); }
        
            .person-img-ctn {

                position: relative;
                @include width-and-height( 100%, 380px );
                background-repeat: no-repeat;
                background-size: cover;
            
                .person-name {
                    @include position-abs-bottom-left();
                    width: 100%;
                    background-color: rgba(215, 39, 4, .7);
                    padding: 20px 0;
                    font-size: 18px;
                    color: #fff;
                    letter-spacing: 1px;
                    text-align: center;
                }
            
            }
            
            .person-description {
                margin: 15px 0;
                color: grey;
            }

            .person-networks-ctn {

                @include display-flex( center, space-between, row);
                width: 120px;
                margin: 0 auto;
            
                .network__link {
                    text-decoration: none;
                
                    text-decoration: none;
                    color: var(--main-color);
                    transition: color .3s;
                    &:hover { color: #000; }
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    @include width-and-height(20px, 20px);
                    overflow: hidden;
                    position: relative;
                
                    &::after {
                        display: block;
                        font-family: "Font Awesome 5 Brands";
                        font-size: 19px;
                        @include position-abs-top-left( 50%, 50% );
                        @include width-and-height;
                        transform: translate( -50%, -50% );
                    }
                
                    &[href="https://twitter.com/"]::after {
                        content: '\f099';
                    }
                
                    &[href="https://es-la.facebook.com/"]::after {
                        content: '\f39e';
                    }
                
                    &[href="https://ar.pinterest.com/"]::after {
                        content: '\f231';
                    }
                
                    &[href="https://www.instagram.com/"]::after {
                        content: '\f16d';
                    }
                    
                }
            
            }
            
        }
        
    }

}

// MEDIA QUERIES.
@media( min-width: 320px ) {

    .team {
        .team-title { font-size: 30px; }
        .team-p { font-size: 17px; }
    }

}

@media( min-width: 600px ) {
    .team .team-title { font-size: 40px; }
}

@media( min-width: 630px ) {
    .team .teams-ctn .person .person-img-ctn { background-position-y: -50px; }
}

@media( min-width: 720px ) {
    .team .teams-ctn .person .person-img-ctn { background-position-y: -80px; }
}

@media( min-width: 769px ) {

    .team {
        .teams-ctn { 
            display: flex;
            .person { 
                margin: 0 20px 0 0; 
                .person-img-ctn { background-position-y: 0; }
            }
        }
    }
    
}

@media( min-width: 1040px ) {

    .team {

        .team-title { font-size: 50px; }

        .team-p {
            font-size: 20px;
            padding: 0 70px;
        }

        .teams-ctn {

            .person {

                .person-img-ctn { 
                    height: 602px;
                    .person-name { font-size: 23px; }
                }
                
                .person-description { font-size: 18px; }
            }
            
        }
        
    }

}