:root {
    --main-color: #D7272A;
    --main-color-hover: #AA1D20;
    --navbar-bg: #fff;

    --navbar-zIndex: 200;
    --upload-button-zIndex: 100;
    --floating-form-zIndex: 200;
    --shadow-zIndex: 150;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { 
    scroll-behavior: smooth; 
}

body {

    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
    user-select: none;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &.menu-active {

        & > .header .navbar {
            .menu { left: 0; }
            .menu-button::before { content: "\f00d"; }
        }
    
        & > #shadow {
            opacity: 1;
            visibility: visible;
        }
        
    }

    &.floating-form-active {

        & > .header .navbar {
            z-index: var(--shadow-zIndex); // Para que el menú se ponga a la misma altura de la sombra. 
        }

        & > #floating-form { 
            top: 50%;
        }
    
        & > #shadow {
            opacity: 1;
            visibility: visible;
        }
    
    }
    
}